﻿@{
    ViewData["Title"] = "Home Page";
    var hostname = "<host>";
    var port = "<port>";
}

<div class="text-left">
    <h1 class="display-4">Welcome to the RESTful API Tester!</h1>
    <p>This Web API accepts GET, POST, PUT, DELETE requests from Web service clients such as Postman, Fiddler, and so on. For persisting data, the Web API uses a SQLite database, which is available in the project's <code>\Data</code> directory.</p>
    <p>In the instructions below, replace &lt;host&gt; and &lt;port&gt; with the name of the host and port on which the Web application is running. For example, <a href="https://localhost:5001/api/products/">https://localhost:5001/api/products/</a> if running the app using the default <i>ApiTester</i> launch profile.</p>
    <h2>GET</h2>
    <p>To retrieve a list of products, send a GET request to <code>https://@hostname:@port/api/products</code>. This is a sample JSON response:</p>
    <pre class="codebox">[
    {
        "id": 1,
        "description": "Product A"
    }, {
        "id": 2,
        "description": "Product B"
    }, {
        "id": 3,
        "description": "Product C"
    }
]</pre>
    <p>
        To retrieve a specific product by its id, send a GET request to <code>https://@hostname:@port/api/products/{id}</code>, where {id} is the ID of the product to
        be retrieved. Here is a sample response:
    </p>
    <pre class="codebox">{
    "id": 1,
    "description": "Product A"
}</pre>
    <p>On retrieving a product or a list of products successfully, the API returns a status code of <b>200 (OK)</b>.</p>
    <p>By default, data is returned as JSON. To request return data as XML, set the <code>Access</code> header to <code>text/xml</code>.</p>
    <h2>POST</h2>
    <p>To add a new product to the database, send a POST request to <code>https://@hostname:@port/api/products</code>.</p>
    <p>To send data as JSON, set the <code>Content-Type</code> header to <code>text/json</code>, and enter a JSON string like the one below in the HTTP request body:</p>
    <pre class="codebox">{
    "description": "Product A"
}</pre>
    <p>To send data as XML, set the <code>Content-Type</code> header to <code>text/xml</code>, and enter an XML string like the one below in the HTTP request body :</p>
    <pre class="codebox">&lt;ProductDataTransferObject&gt;
    &lt;Description&gt;Product A&lt;/Description&gt;
&lt;/ProductDataTransferObject&gt;</pre>
    <p>On adding a product successfully, the API returns a status code of <b>201 (Created)</b>.</p>
    <h2>PUT</h2>
    <p>To update an existing product in the database, send a PUT request to <code>https://@hostname:@port/api/products/{id}</code>, where {id} is the id of the product.</p>
    <p>To send data as JSON, set the <code>Content-Type</code> header to <code>text/json</code>, and enter a JSON string like the one below in the HTTP request body:</p>
    <pre class="codebox">{
    "id": 1,
    "description": "Product A"
}</pre>
    <p>To send data as XML, set the <code>Content-Type</code> header to <code>text/xml</code>, and enter an XML string like the one below in the HTTP request body:</p>
    <pre class="codebox">&lt;ProductDataTransferObject&gt;
     &lt;Id&gt;1&lt;/Id&gt;
     &lt;Description&gt;Product A&lt;/Description&gt;
&lt;/ProductDataTransferObject&gt;</pre>
    <p>On updating a product successfully, the API returns a status code of <b>204 (No content)</b>.</p>
    <h2>DELETE</h2>
    <p>To delete an existing product in the database, send a DELETE request to <code>https://@hostname:@port/api/products/{id}</code>, where {id} is the id of the product to be deleted.</p>
    <p>
        If the product with this id cannot be found, the API returns a status code of <b>404 (Not found)</b>. If the product was deleted successfully,
        the return status code is <b>204 (No content)</b>.
    </p>
    <div class="note">To maintain the integrity of the API, products with ID 1, 2, and 3 cannot be deleted. This is intentional. If you attempt to delete any of these products, the status code <b>403 (Forbidden)</b> will be returned.</div>
</div>
